# Django Security
SECRET_KEY=your_secret_key_here
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# PostgreSQL Database Configuration
DB_NAME=dropship_db
DB_USER=dropship_user
DB_PASSWORD=your_db_password
DB_HOST=127.0.0.1
DB_PORT=5432
